 <form id="mon_formulaire" action = "/modifier" method = "post">
 	<input type="hidden" name="_id">
 	<input type="hidden" name="prenom">
 	<input type="hidden" name="nom">
 	<input type="hidden" name="telephone">
 	<input type="hidden" name="email">
 </form>
