<head>
<meta charset="UTF-8">
<title>Mon Application</title>
<link rel="stylesheet" type="text/css" href="/css/normalize.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/fontawesome/css/fontawesome-all.css">
<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:900"; rel="stylesheet">
</head>