<nav>
	<ul>
		<li><a href=http://127.0.0.1:8081/><i class="fa fa-home"></i>Acceuil</a></li>
		<li><a href=http://127.0.0.1:8081/liste><i class="fa fa-list"></i>Liste des membres</a></li>
	</ul>
</nav>