<nav>
	<ul>
		<li><a href=http://127.0.0.1:8081/><i class="fa fa-home"></i><%= __('Acceuil') %></a></li>
		<li><a href=http://127.0.0.1:8081/liste><i class="fa fa-list"></i><%= __('Liste des membres') %></a></li>
		<li><a href=http://127.0.0.1:8081/<%if(getLocale()=="fr"){%>en<%}else{%>fr<%}%>><i class="fas fa-language"></i><%if(getLocale()=="fr"){%>en<%}else{%>fr<%}%></a></li>
	</ul>
</nav>