

<section id="profil">

	<div class="image">
		<i class='fa fa-user'></i>
	</div>
	<div class="infos">

		<span><%=personne[0].prenom%></span>
		<span><%=personne[0].nom%></span>
		<span><%=personne[0].telephone%></span>
		<span><%=personne[0].email%></span>

	</div>


</section>